Repository olafal0/longtrail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy development

.gitlab-ci.yml:

image: registry.gitlab.com/olafalo/longtrail/builder

stages:
  - test
  - deploy-dev
  - deploy-prod
  - deploy-pages

test:
  stage: test
  only:
    changes:
      - 'longtrail-api/**/*'
  script:
    - cd longtrail-api
    - go fmt
    - go vet
    - COVERAGE=`go test -cover -race ./...`

deploy development:
  stage: deploy-dev
  only:
    changes:
      - 'longtrail-api/**/*'
      - deployment-prereq.yml
      - longtrail.yml
  script:
    - ./scripts/deploy.sh development
    - ./scripts/generate-config.sh development
  artifacts:
    paths:
      - web/config.js
    expire_in: 7 days

deploy production:
  stage: deploy-prod
  only:
    refs:
      - master
  script:
    - ./scripts/deploy.sh production
    - ./scripts/generate-config.sh production
  artifacts:
    paths:
      - web/config.js
    expire_in: 7 days

pages:
  image: node:latest
  stage: deploy-pages
  dependencies:
    - deploy production
  only:
    refs:
      - master
  script:
    - cd web
    - npm ci
    - ./node_modules/parcel/bin/cli.js build index.html --no-source-maps --public-url ./longtrail
    - cp -r dist ../public
  artifacts:
    paths:
      - public

Fix public URL for gitlab pages again
  .gitlab-ci.yml
Due: none

Rename startTime to start, add event source
  .gitignore
  longtrail-api/dbinterface/interface.go
  longtrail-api/dbinterface/interface_test.go
  longtrail-api/dbinterface/practices.go
  longtrail-api/go.mod
  longtrail-api/go.sum
  longtrail.yml
  web/App.svelte
  web/CalendarView.svelte
  web/api.ts
  web/index.js
  web/request.ts
  web/vanillaDate.ts
Due: test, deploy development

Fix time-windowed event queries, add backend event handling
  longtrail-api/dbinterface/practices.go
  longtrail-api/practices.go
  longtrail.yml
  web/CalendarView.svelte
  web/FullCalendar.svelte
  web/api.ts
  web/index.html
  web/package-lock.json
  web/package.json
  web/request.ts
  web/style.scss
Due: test, deploy development

Ensure time queries are performed in UTC
  longtrail-api/dbinterface/practices.go
  longtrail-api/practices.go
Due: test, deploy development

Fix event duplication when recently created
  web/App.svelte
  web/CalendarView.svelte
Due: none

Fix bug where return key triggered wrong action on login
  web/Login.svelte
Due: none

Remove extra logging
  web/CalendarView.svelte
Due: none

Save data to backend when resizing events
  web/CalendarView.svelte
Due: none

Update to dispatch v0.0.2, change name (Long Trail)
  longtrail-api/go.mod
  longtrail-api/go.sum
  longtrail-api/main.go
  longtrail.yml
  web/App.svelte
Due: test, deploy development

Add toggle between day and week view
  web/CalendarView.svelte
Due: none

Add 7-day practice report export
  web/App.svelte
  web/CalendarView.svelte
  web/Modal.svelte
  web/ReportExport.svelte
  web/Toast.svelte
  web/index.html
  web/package-lock.json
  web/package.json
  web/reportGen.ts
  web/vanillaDate.ts
Due: none

Increase logo font size
  web/App.svelte
Due: none

Add event title editing
  web/CalendarView.svelte
Due: none

Add SES confirmation emails, new user notifications
  .gitignore
  longtrail.yml
  scripts/deploy.sh
Due: deploy development

Add LICENSE (MIT)
  LICENSE
Due: none

Add Readme.md
  Readme.md
Due: none

Add API throttling to stage
  longtrail.yml
Due: deploy development

Remove outdated method from client API
  web/api.ts
Due: none

Add deployment instructions to readme
  Readme.md
Due: none

Add "about" modal
  web/App.svelte
Due: none

Add password reset functionality
  web/Form.svelte
  web/Login.svelte
Due: none

Add service worker, manifest, logos, make installable
  .gitlab-ci.yml
  web/icons/favicon.ico
  web/icons/gmcmf-logo-192.png
  web/icons/gmcmf-logo-512.png
  web/icons/gmcmf-logo.svg
  web/index.html
  web/manifest.webmanifest
  web/package-lock.json
  web/package.json
Due: none

Dependency updates and minor fixes
  longtrail-api/go.mod
  longtrail-api/go.sum
  web/App.svelte
  web/package-lock.json
  web/package.json
Due: test, deploy development
